<html>
    <head>
        <title>RealEstate Data!</title>
        <style type ="text/css">
            h1 {
                color:red;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to Sample RealEstate Data!!!!</h1>
        <table>
		<tr>
			<th>
				<td>Street</td>
				<td>City</td>
				<td>Zipcode</td>
				<td>State</td>
				<td>Beds</td>
				<td>Bath</td>
				<td>Sq.Feet</td>
				<td>Type</td>
				<td>Sale_Date</td>
				<td>Price</td>
				<td>Latitude</td>
				<td>Longitude</td>
			</th>
		</tr>
		</table>
    </body>
</html>


